.signin {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 250px;
  margin: 0 auto;
}

.signin__logo-container {
  height: 50vh;
  display: flex;
  align-items: center;
}

.signin__logo-container img {
  width: 95%;
  max-width: 240px;
  margin: 0 auto;
}

.signin__content-container {
  display: flex;
  flex-direction: column;
}

.signin__title {
  margin-top: 0;
}

.signin__content-body {
  flex-grow: 1;
}

.signin__content-container img {
  margin-top: 1rem;
  width: 95%;
  max-width: 250px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .signin {
    flex-direction: row;
    width: 90%;
    max-width: 900px;
    height: 100vh;
    align-items: center;
  }

  .signin__logo-container,
  .signin__content-container {
    width: 50%;
  }

  .signin__content-container {
    height: 70vh;
  }

  .signin__content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 18%;
  }

  .signin__content-body p {
    width: 30ch;
  }
}
