.welcome {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 250px;
  margin: 0 auto;
}

.welcome__logo-container {
  height: 50vh;
  display: flex;
  align-items: center;
}

.welcome__logo-container img {
  width: 95%;
  max-width: 240px;
  margin: 0 auto;
}

.welcome__content-container {
  display: flex;
  flex-direction: column;
}

.title-text {
  margin-top: 0;
}

.welcome__content-body {
  flex-grow: 1;
}

.welcome__content-body p {
  text-align: center;
}

.welcome__input {
  background-color: #150714;
}

.welcome__btn {
  margin-top: 2rem;
  width: 100%;
  padding: 0.5rem 0;
}
