.welcome {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 250px;
  margin: 0 auto;
}

.welcome__logo-container {
  height: 50vh;
  display: flex;
  align-items: center;
}

.welcome__logo-container img {
  width: 95%;
  max-width: 240px;
  margin: 0 auto;
}

.welcome__content-container {
  display: flex;
  flex-direction: column;
}

.title-text {
  margin-top: 0;
}

.welcome__content-body {
  flex-grow: 1;
}

.welcome__content-body p {
  text-align: center;
}

.welcome-input,
.welcome-input::placeholder {
  color: var(--input-text);
  background-color: #150714;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.75rem;
  font-family: var(--font-family-body);
}

.welcome__btn {
  width: 100%;
  margin-top: 2rem;
  background-color: #00da76;
  text-transform: uppercase;
  color: var(--primary);
  cursor: pointer;
  padding: 0.5rem 0;
  font-family: var(--font-family-texto);
  font-size: var(--font-size-main-button);
  font-weight: var(--font-weight-title);
}
