.dialog {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog__content {
  margin: 20% auto;
  padding: 20px;
  width: 30%;
  background-color: var(--primary);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  border-radius: 30px;
}

.dialog__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-background);
}

.dialog__buttons {
  text-align: end;
}

.dialog__buttons button {
  margin-left: 10px;
}

.dialog__close {
  font-size: 30px;
}

.dialog__close:hover {
  cursor: pointer;
}

.btn-yes {
  background-color: var(--red);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
