/* ############################ CSS VARIABLES ############################ */
:root {
  --primary: #fff;
  --dark-background: #2e132c;
  --red: #f50d5a;
  --dark-text: #60265b;
  --input-text: #914d8b;

  --red: #f50d5a;
  --orange: #ff865c;
  --yellow: #ffea5c;
  --green: #00da76;
  --blue: #0096ce;
  --purple: #800fff;

  --font-family-body: 'Fira Code', monospace;
  --font-family-title: Silkscreen;

  --font-size-texto-title: 2rem;
  --font-size-main-button: 1.125rem;
  --font-size-texto-normal: 1rem;
  --font-size-texto-footer: 0.875rem;

  --font-weight-title: 700;
  --font-weight-regular: 400;
}

/* ############################ RESET ############################# */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* p {
  margin: 0;
} */

img {
  max-width: 100%;
}

/* ############################ GENERAL ############################# */

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-texto-normal);
  font-weight: var(--font-weight-regular);
  background: var(--dark-background);
  color: var(--primary);
  margin: 0;
  line-height: 1.2;
}

.title-text {
  font-family: var(--font-family-title);
  font-size: var(--font-size-texto-title);
  font-weight: var(--font-weight-title);
  line-height: 1;
  /* margin-bottom: 1.5rem; */
}

.footer-text {
  color: var(--dark-text);
  font-size: var(--font-size-texto-footer);
  text-align: center;
}

.red-text {
  color: var(--red);
}

/* @media screen and (min-width: 500px) {
  :root {
    --font-size-texto-normal: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --font-size-texto-title: 1.2rem;
    --font-size-texto-normal: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-size-texto-normal: 1.6rem;
  }
} */
